name: build-android

on:
  push:
    branches:
      - main
env:
  LIB_NAME: aries_askar

jobs:
  build_android:
    name: build android libraries
    runs-on: ubuntu-latest
    strategy:
      matrix:
        architecture:
          [
            aarch64-linux-android,
            armv7-linux-androideabi,
            i686-linux-android,
            x86_64-linux-android,
          ]
    steps:
      - uses: actions/checkout@v3
      - run: |
          cargo install --bins --git https://github.com/rust-embedded/cross --tag v0.2.4 cross
          cross build --target ${{matrix.architecture}} --release
      - name: Save library
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.architecture}}
          path: target/${{ matrix.architecture }}/release/lib${{ env.LIB_NAME }}.so
  create_android_library:
    name: Create android libs
    runs-on: ubuntu-latest
    needs: build_android
    steps:
      - name: Fetch libraries
        uses: actions/download-artifact@v3
      - run: |
          sudo mkdir ./libs
          sudo mv aarch64-linux-android   ./libs/arm64-v8a
          sudo mv armv7-linux-androideabi ./libs/armeabi-v7a
          sudo mv i686-linux-android      ./libs/x86
          sudo mv x86_64-linux-android    ./libs/x86_64
      - name: Save Android library
        uses: actions/upload-artifact@v3
        with:
          name: libs
          path: ./libs
      - uses: geekyeggo/delete-artifact@v2
        with:
          name: |
            aarch64-linux-android
            armv7-linux-androideabi
            i686-linux-android
            x86_64-linux-android
          failOnError: false
