name: 'Aries-Askar'

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  release:
    types: [created]
  workflow_dispatch:
    inputs:
      publish-binaries:
        description: 'Publish Binaries to Release (will create a release if no release exists for branch or tag)'
        required: true
        default: false
        type: boolean
      publish-wrappers:
        description: 'Publish Wrappers to Registries'
        required: true
        default: false
        type: boolean

jobs:
  check:
    name: Run checks
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-11, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: '1.58.0'
          components: clippy, rustfmt

      - name: Cache cargo resources
        uses: Swatinem/rust-cache@v2
        with:
          sharedKey: check
          cache-on-failure: true

      - name: Cargo fmt
        run: cargo fmt --all -- --check

      - name: Cargo check
        run: cargo check --workspace

      - name: Debug build
        run: cargo build --all-targets

      - if: "runner.os == 'Linux'"
        name: Start postgres (Linux)
        run: |
          sudo systemctl start postgresql.service
          pg_isready
          sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'postgres'"
          echo "POSTGRES_URL=postgres://postgres:postgres@localhost:5432/test-db" >> $GITHUB_ENV
          echo "TEST_FEATURES=pg_test" >> $GITHUB_ENV

      - name: Run tests
        run: cargo test --workspace --features "${{ env.TEST_FEATURES || 'default' }}" -- --nocapture --test-threads 1 --skip contention
        env:
          RUST_BACKTRACE: full
          # RUST_LOG: debug

      - name: Test askar-crypto no default features
        run: cargo test --manifest-path ./askar-crypto/Cargo.toml --no-default-features

      - name: Test askar-bbs no default features
        run: cargo test --manifest-path ./askar-bbs/Cargo.toml --no-default-features

  build-release:
    name: Build Library
    needs: [check]

    strategy:
      matrix:
        include:
          - arch: linux-aarch64
            os: ubuntu-latest
            lib: libaries_askar.so
            target: aarch64-unknown-linux-gnu
            use_cross: true
          - arch: linux-x86_64
            os: ubuntu-latest
            lib: libaries_askar.so
            target: x86_64-unknown-linux-gnu
            # using cross here to build against an older glibc for compatibility
            use_cross: true
          - arch: darwin-universal
            os: macos-11
            lib: libaries_askar.dylib
            target: apple-darwin
            # beta or nightly required for aarch64-apple-darwin target
            toolchain: beta
          - arch: windows-x86_64
            os: windows-latest
            lib: aries_askar.dll
            target: x86_64-pc-windows-msvc

    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: '1.58.0'

      - name: Cache cargo resources
        uses: Swatinem/rust-cache@v2
        with:
          sharedKey: check

      - if: '!matrix.use_cross'
        name: Build library
        env:
          BUILD_TARGET: ${{ matrix.target }}
          BUILD_TOOLCHAIN: ${{ matrix.toolchain || 'stable' }}
          # LIBSQLITE3_FLAGS: SQLITE_DEBUG SQLITE_MEMDEBUG
        shell: sh
        run: ./build.sh

      - if: matrix.use_cross
        name: Build library (cross)
        run: |
          cargo install --bins --git https://github.com/rust-embedded/cross --tag v0.2.4 cross
          cross build --lib --release --target ${{ matrix.target }}

      - name: Upload library artifacts
        uses: actions/upload-artifact@v3
        with:
          name: library-${{ matrix.arch }}
          path: target/${{ matrix.target }}/release/${{ matrix.lib }}

      - name: Create library artifacts directory
        if: |
          github.event_name == 'release' ||
          (github.event_name == 'workflow_dispatch' && github.event.inputs.publish-binaries == 'true')
        run: |
          mkdir release-artifacts
          cp target/${{ matrix.target }}/release/${{ matrix.lib }} release-artifacts/
      - uses: a7ul/tar-action@v1.1.2
        if: |
          github.event_name == 'release' ||
          (github.event_name == 'workflow_dispatch' && github.event.inputs.publish-binaries == 'true')
        with:
          command: c
          cwd: release-artifacts
          files: .
          outPath: 'library-${{ matrix.arch }}.tar.gz'

      - name: Add library artifacts to release
        if: |
          github.event_name == 'release' ||
          (github.event_name == 'workflow_dispatch' && github.event.inputs.publish-binaries == 'true')
        uses: svenstaro/upload-release-action@v2
        with:
          file: library-${{ matrix.arch }}.tar.gz
          asset_name: 'library-${{ matrix.arch }}.tar.gz'

  build-py:
    name: Build and Test Python Wrapper
    needs: [build-release]

    strategy:
      matrix:
        arch: [linux-aarch64, linux-x86_64, darwin-universal, windows-x86_64]
        python-version: ['3.8']
        include:
          - os: ubuntu-latest
            arch: linux-aarch64
            plat-name: manylinux2014_aarch64
          - os: ubuntu-latest
            arch: linux-x86_64
            plat-name: manylinux2014_x86_64
          - os: macos-11
            arch: darwin-universal
            plat-name: macosx_10_9_universal2 # macosx_10_9_x86_64
          - os: windows-latest
            arch: windows-x86_64
            plat-name: win_amd64

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel twine auditwheel

      - name: Fetch library artifacts
        uses: actions/download-artifact@v3
        with:
          name: library-${{ matrix.arch }}
          path: wrappers/python/aries_askar/

      - if: "runner.os == 'Linux'"
        name: Start postgres (Linux)
        run: |
          sudo systemctl start postgresql.service
          pg_isready
          sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'postgres'"
          echo "POSTGRES_URL=postgres://postgres:postgres@localhost:5432/test-db" >> $GITHUB_ENV

      - name: Build python package
        shell: sh
        run: |
          python setup.py bdist_wheel --python-tag=py3 --plat-name=${{ matrix.plat-name }}
        working-directory: wrappers/python

      - name: Test package
        # FIXME cross platform test the python package
        # maybe use the cross docker image?
        if: "matrix.arch != 'linux-aarch64'"
        shell: sh
        run: |
          pip install pytest pytest-asyncio dist/*
          echo "-- Test SQLite in-memory --"
          python -m pytest --log-cli-level=WARNING -k "not contention"
          echo "-- Test SQLite file DB --"
          TEST_STORE_URI=sqlite://test.db python -m pytest --log-cli-level=WARNING -k "not contention"
          if [ -n "$POSTGRES_URL" ]; then
            echo "-- Test Postgres DB --"
            TEST_STORE_URI="$POSTGRES_URL" python -m pytest --log-cli-level=WARNING -k "not contention"
          fi
        working-directory: wrappers/python
        env:
          no_proxy: '*' # python issue 30385
          RUST_BACKTRACE: full
          # RUST_LOG: debug

      - if: "runner.os == 'Linux'"
        name: Audit wheel
        run: auditwheel show wrappers/python/dist/*

      - if: |
          github.event_name == 'release' ||
          (github.event_name == 'workflow_dispatch' && github.event.inputs.publish-wrappers == 'true')
        name: Publish python package
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          twine upload --skip-existing dist/*
        working-directory: wrappers/python

  build-javascript:
    name: Build and Test JavaScript wrapper
    needs: [build-release]
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: wrappers/javascript

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Node.JS 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - name: Fetch library artifacts
        uses: actions/download-artifact@v3
        with:
          name: library-linux-x86_64

      - name: Install dependencies
        run: yarn install

      - name: Build JavaScript Wrapper
        run: yarn build

      - name: Lint JavaScript Wrapper
        run: yarn lint

      - name: Format Check JavaScript Wrapper
        run: yarn check-format

      - name: Type Check JavaScript Wrapper
        run: yarn check-types

      - name: Test JavaScript Wrapper
        env:
          # binary is downloaded to root of repository
          LIB_ARIES_ASKAR_PATH: ../../../
        run: yarn test

      - name: Set NPM config
        if: |
          github.event_name == 'release' ||
          (github.event_name == 'workflow_dispatch' && github.event.inputs.publish-wrappers == 'true')
        run: |
          echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" >> .npmrc
          echo "registry=https://registry.npmjs.org/" >> .npmrc
          echo "always-auth=true" >> .npmrc
      # TODO: this will currently publish the version as defined in the package.json. If the version already
      # exists on NPM it will skip the publishing. This means if a new version is released, but the version hasn't been
      # updated in the package.json files yet, it won't publish to NPM (which is kinda nice). We should however add a check
      # to see if the JS version matches the release version (do we want to keep the js and rust version in sync?)
      - name: Publish JavaScript Wrapper
        if: |
          github.event_name == 'release' ||
          (github.event_name == 'workflow_dispatch' && github.event.inputs.publish-wrappers == 'true')
        run: npx lerna publish from-package --no-push --no-private --yes --no-git-tag-version

  build-ios:
    name: Build Library (iOS)
    runs-on: macos-latest

    strategy:
      matrix:
        architecture:
          [aarch64-apple-ios, aarch64-apple-ios-sim, x86_64-apple-ios]

    steps:
      - uses: actions/checkout@v3
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          targets: ${{ matrix.architecture }}
      - run: cargo build --target ${{matrix.architecture}} --release
      - name: Save library
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.architecture}}
          path: target/${{ matrix.architecture }}/release/libaries_askar.dylib

  build-android:
    name: Build library (Android)
    runs-on: ubuntu-latest
    strategy:
      matrix:
        architecture:
          [
            aarch64-linux-android,
            armv7-linux-androideabi,
            i686-linux-android,
            x86_64-linux-android,
          ]

    steps:
      - uses: actions/checkout@v3
      - run: |
          cargo install --bins --git https://github.com/rust-embedded/cross --tag v0.2.4 cross
          cross build --release --target ${{matrix.architecture}}
      - name: Save library
        uses: actions/upload-artifact@v3
        with:
          name: ${{matrix.architecture}}
          path: target/${{ matrix.architecture }}/release/libaries_askar.so

  create-ios-xcframework:
    name: Create iOS xcframework
    runs-on: macos-latest
    needs: build-ios

    steps:
      - uses: actions/checkout@v3
      - name: Fetch dynamic libraries
        uses: actions/download-artifact@v3
      - run: >
          ./build-xcframework.sh aarch64-apple-ios \
                                 aarch64-apple-ios-sim \
                                 x86_64-apple-ios \
                                 include
      - name: Save xcframework
        uses: actions/upload-artifact@v3
        with:
          name: aries_askar.xcframework
          path: out
      - uses: geekyeggo/delete-artifact@v2
        with:
          name: |
            aarch64-apple-ios
            aarch64-apple-ios-sim
            x86_64-apple-ios
          failOnError: false

  create-android-library:
    name: Create library (Android)
    runs-on: ubuntu-latest
    needs: build-android
    steps:
      - name: Fetch libraries
        uses: actions/download-artifact@v3
      - run: |
          sudo mkdir ./libs
          sudo mv aarch64-linux-android   ./libs/arm64-v8a
          sudo mv armv7-linux-androideabi ./libs/armeabi-v7a
          sudo mv i686-linux-android      ./libs/x86
          sudo mv x86_64-linux-android    ./libs/x86_64
      - name: Save Android library
        uses: actions/upload-artifact@v3
        with:
          name: android-libraries
          path: ./libs
      - uses: geekyeggo/delete-artifact@v2
        with:
          name: |
            aarch64-linux-android
            armv7-linux-androideabi
            i686-linux-android
            x86_64-linux-android
          failOnError: false

  create-ios-android-release-asset:
    name: Create iOS and Android Release Assets
    runs-on: ubuntu-latest
    needs:
      - create-ios-xcframework
      - create-android-library
    if: |
      (github.event_name == 'release' ||
      (github.event_name == 'workflow_dispatch' &&
       github.event.inputs.publish == 'true'))

    steps:
      - name: Fetch Android libraries
        uses: actions/download-artifact@v3
        with:
          name: android-libraries
          path: mobile/android/

      - name: Fetch iOS Framework
        uses: actions/download-artifact@v3
        with:
          name: aries_askar.xcframework
          path: mobile/ios/

      - uses: a7ul/tar-action@v1.1.2
        with:
          command: c
          files: ./mobile
          outPath: 'library-ios-android.tar.gz'

      - name: Add library artifacts to release
        uses: svenstaro/upload-release-action@v2
        with:
          file: library-ios-android.tar.gz
          asset_name: 'library-ios-android.tar.gz'
